*.dat*
*.npy*
*Untitled*
*pycache*
*.pt
*/.venv/*
*/.idea/*
*/.pytest_cache/*
*/.git/*
*/.gitignore*
*/.DS_Store*
*/__pycache__/*
*/.mypy_
*.mat*
*.pth
*.pkl
*.ipynb_checkpoints*
*.log
*.txt
*.csv
*.json
*.yaml
*.yml
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tif
*.tiff
*.pb
*.pbtxt
*.weights
*.onnx
*.nc
*.bin
*.caffemodel
*.prototxt
*.h5
*.hdf5
*.ckpt
*.pt
*.avi